:host {
  color: white;
  font-family: "Pacifico";
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.container p,
.container button {
  text-align: center;
}

.greet,
.greetsub {
  margin-bottom: 20px;
  text-align: center;
}

.greet {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 1em;
}

.greetsub {
  font-size: 1.5em;
}

p {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  background-clip: text;
  color: transparent;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    justify-content: start;
  }
}
