<snowflakes></snowflakes>
<div *ngIf="currentPage == Page.OVERVIEW" class="container">
  <div *ngFor="let name of names; index as i" (click)="detailsFor(i)">
    <owl [name]="name" [image]="i + 1"></owl>
  </div>
</div>

<div *ngIf="currentPage == Page.DETAIL" class="container-wichtel">
  <wichtel [wichtelId]="currentWichtel"></wichtel>
  <button mat-raised-button (click)="currentPage = Page.OVERVIEW">
    Zurück
  </button>
</div>
<div class="github">
  <a href="https://github.com/apaulheim/wichteln" target="blank"
    ><img src="assets/github.png"
  /></a>
</div>
