<snowflakes></snowflakes>
<div *ngIf="currentPage == Page.OVERVIEW" class="overview">
  <p>Weihnachten 2024</p>
  <h1>Hallo liebe Wichtel!</h1>
  <p>
    Findet eure Eule* und erfahrt, wen ihr dieses Weihnachten beschenken dürft.
  </p>
  <div class="container">
    <div *ngFor="let name of names; index as i" (click)="detailsFor(i)">
      <owl [name]="name" [image]="i + 1"></owl>
    </div>
  </div>
  <p>
    <small
      >* Die Weihnachtselfen haben keinen Login eingebaut, weil sie wissen, dass
      ihr brav seid und nur eure Eule auswählt.</small
    >
  </p>
  <p style="line-height: 1.8em">Special Guests</p>
  <div class="container">
    <owl name="Noame" [image]="6"></owl>
    <owl name="Lunis" [image]="7"></owl>
  </div>
  <div class="attribution">
    <a
      href="https://www.pexels.com/photo/shallow-focus-photography-of-green-christmas-tree-1684236/"
      >Photo by Nick Collins</a
    >
  </div>
</div>

<div *ngIf="currentPage == Page.DETAIL" class="container-wichtel">
  <wichtel [wichtelId]="currentWichtel"></wichtel>
  <button mat-raised-button (click)="currentPage = Page.OVERVIEW">
    Zurück
  </button>
</div>
